@page "/"
@inherits StudentListBase
<h3>学生列表</h3>
 
<h3>

网站采用<a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/?view=aspnetcore-3.1">Blazor</a> 开发完成 </h3>

<ul>
	<li>整个网站没有包含一行javascript和ts文件</li>
	<li>Angular、Vue、React 的SSO问题，Blazor 解决了</li>
	<li>前端项目编译Angular、Vue、React慢的问题，Blazor解决了</li>
	<li>传统MVC、RazorPage在Ajax上需要通过js进行Dom操作的问题，被Blazor解决了双向绑定问题解决了，优秀。</li>
</ul>
 



<h4> <a href="/student/add">添加</a></h4>

@if (Students==null)
{
	<div class="spinner"></div>
}
else
{
<div class="card-deck">
	@foreach (var student in Students)
	{
		<div class="card m-3"  style="min-width: 18rem; max-width:30.5%;">
			<div class="card-header">
				<h3>@student.StudentName </h3>
			</div>
			<img class="card-img-top imageThumbnail" src="@student.PhotoPath"  />
			<div class="card-footer text-center">
				<a href="@($"student/details/{student.StudentId}")" class="btn btn-primary m-1">查看</a>

				<a href="#" class="btn btn-primary m-1">编辑</a>
				 

				<span id="deleteSpan_@student.StudentId">
					<a href="#" class="btn btn-danger"
					 @onclick="@(()=>ConfirmDelete(student, true))">删除</a>
				</span>





			</div>
		</div>
	}
</div>
}

